<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{135,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{135,64}}</string>
                <key>sourceSize</key>
                <string>{139,64}</string>
            </dict>
            <key>bt_play_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{131,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,62}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>bt_quit_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,69}}</string>
                <key>sourceSize</key>
                <string>{130,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menusheet.png</string>
            <key>size</key>
            <string>{402,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e36a0f9b2d6096abf938fe29deb42c6:8ce618f20d26cff56c289af25a2dee0e:3a7d5ae59e96a4a619c939788fd387f2$</string>
            <key>textureFileName</key>
            <string>menusheet.png</string>
        </dict>
    </dict>
</plist>
